header {
    width: 100%;
    background-image: url(images/mobile/image-hero.jpg);
}

header .navbar h1 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    padding: 10px 15px;
    font-size: 3em;
    margin-right: 50px;
}

header .navbar .acroche {
    position: relative;
    width: 100%;
}

/* Vr interavtiv */

#vr-interactive {
    height: auto;
    margin-top: 105px;
    width: auto;
}

#vr-interactive img {
    position: relative;
    width: 100%;
    display: block;
    margin: auto;
    padding-left: 10%;
    padding-right: 10%;
    left: 0%;
    top: 0%;
    transform: translate(0%, 0%);
}

#vr-interactive .description {
    position: relative;
    width: 100%;
    text-align: center;
    display: block;
    left: 0%;
    padding-left: 10%;
    padding-right: 10%;
}

#vr-interactive .description h1 {
    font-size: 27px;
    font-weight: 900;
}

#vr-interactive .description p {
    font-size: 18px;
}

/* Images OUR CREATION */

#our-creation .cards .img-cards {
    display: none;
}

#our-creation .creations a {
    display: none;
}

#our-creation .cards .img-cards2 {
    display: block;

}

#our-creation .image {
    display: block;
    padding-left: 10%;
    padding-right: 10%;
}

#our-creation .creations {
    width: 80%;
    display: block;
    text-align: center;
}

#our-creation .cards h1 {
    padding-left: 7%;
    padding-bottom: 4%;
    margin: 0;
    font-size: 1.8em;
}

#our-creation .creations h1 {
    margin-top: 100px;
    font-size: 2.2em;
    font-weight: 900;
}

.btn-seeall {
    width: 40%;
    text-align: center;
    margin: auto;
    margin-top: 50px;
}

#our-creation .see-all-responsive {
    display: block;
    text-decoration: none;
    padding: 15px 17px;
    border: 2px solid black;
    font-weight: 700;
    font-family: 'Alata', sans-serif;
    letter-spacing: 4px;
    color: black;
    font-size: 0.85em;
    border-radius: 3px;
    margin: auto;
}

#our-creation .see-all-responsive:hover {
    color: #fff;
    background-color: black;
    transition: 0.8s;
}

/*Footer*/

.footer {
    display: none;
}

.footer-responsive {
    display: block;
    position: relative;
    height: auto;
    width: 100%;
    margin-top: 150px;
    background: black;
    padding: 0;
    text-decoration: none;
}

footer .svg {
    height: 35px;
    width: 195px;
    margin-top: 0px;
}

footer .menu-footer .nav-footer ul {
    font-weight: 900;
    display: block;
    text-align: center;
}

footer .menu-footer .nav-footer ul li {
    padding-bottom: 20px;
}

footer .menu-footer .nav-footer ul a {
    font-size: 1.5em;
    margin: 0;
    text-decoration: none;
}

footer .social-link {
    justify-content: center;
    height: 100px;
}

footer .menu-footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    margin: auto;
}

footer p {
    width: 100%;
    font-size: 1.4em;
    text-align: center;
    margin-right: 5%;
    margin-left: 5%;
    padding-bottom: 50px;
}

footer .link {
    text-align: center;
}

footer .link img {
    margin: 25px 0px 10px 0;
    width: 30px;
}