@media only screen and (max-width: 1440px) {
    header {
        width: 100% !important;

    }
  }


*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Josefin Sans', sans-serif;
}
body{
    font-family: 'Alata', sans-serif;
}
header{
    height: 650px;
    width: 1440px;
    background-image: url(/images/desktop/image-hero.jpg);
    background-size: cover;
    margin: auto;
    position: relative;
}
.navbar{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 78%;
    margin: 63px 1px;
    left: 50%;
    transform: translate(-50%);
    font-size: 16px;

}
.navbar a{
    color: #fff;
    font-weight: bolder;
    /* padding-bottom: 10px; */
}
.navbar .nav-link li:hover{
    border-bottom: 1px solid #fff;
}
.navbar .nav-link ul{
    justify-content: center;
    display: flex;
}
.navbar .nav-link ul li{
    padding: 7px 8px 7px 8px ;
    margin: 0 7px;
}

header .navbar h1 {
    position: absolute;
    top: 45%;
    left: 0%;
    transform: translate(-0%, 51%);
    border: 3px solid #fff;
    color: #fff;
    padding: 35px 47px;
    text-align: left;
    width: 550px;
    font-size: 70px;
    font-weight: 100;
    letter-spacing: 1px;
    text-transform: uppercase;
}


/* Vr interavtiv */

#vr-interactive{
    height: 700px;
    margin-top: 165px;
    position: relative;
}
#vr-interactive img{
    position: absolute;
    left: 39.5%;
    top: 0%;
    transform: translate(-50%, -0%);
}
#vr-interactive .description{
    position: relative;
    width: 425px;
    height: auto;
    background-color: #ffffff;
    left: 51%;
    top: 28%;
    padding-top: 95px;
    padding-left: 95px;
}
#vr-interactive .description h1{
    font-size: 47px;
    text-transform: uppercase;
    font-weight: 100;
    margin-bottom: 25px;
}

#vr-interactive .description p{
    color: #696969;
    font-style: 11px;
    font-weight: 600;
    /* letter-spacing: 1px; */
    line-height: 1.5;
    padding-bottom: 50px;
}

/* Images OUR CREATION */

#our-creation{
    height: auto;
    width: 1125px;
    position: relative;
    padding: auto; 
    margin: auto;
}

#our-creation .creations{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;  /*Je donnerai 100% en media screen */
    margin: auto;
}



footer{
 /* height: 100vh; */
}